body {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-image: url("../images/background.jpg");
    background-repeat: repeat;
    background-size: cover;

    margin-left: 75px;
    margin-right: 75px;
}

header {
    width: 100%;
    z-index: 1;

    display: flex;
    flex-direction: column;
}

.logo {
    display: flex;
    flex-direction: row;
    background-color: rgba(250, 249, 249, 0.884);
    border-radius: 40px;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 5px;
}

header #default-logo {
    height: 100px;
    width: 100px;
    vertical-align: middle;
    margin-left: 25px;
    margin-bottom: 5px;
    background-color: white;
    border-radius: 50%;
    border: 5px solid rgb(0, 0, 0);
}

.title, .title h1 {
    margin-left: 10px;
}

.title i {
    padding: 5px;
    font-weight: 200;
    font-size: 18px;
    margin-left: 5px;
}

header .links {
    display: flex;
    flex-direction: row;
    z-index: 2;
    background-color: rgb(41, 40, 40);
    box-shadow: 3px 3px 2px 2px lightgray;
    padding: 20px;
    border-radius: 2px;
}

header .links #hidden-logo {
    display: none;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

header .links a {
    color: white;;
    text-decoration: none;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 5px;
}

header .links a:hover {
    text-decoration: underline;
    background-color: rgb(31, 30, 30);
    z-index: 2;
}

.links #small-screen-container {
    display: none;
    margin-left: auto;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    padding: 0px;
    cursor: pointer;
}

#small-screen-container img {
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

#small-screen-container .hidden-links {
    position: absolute;
}

#small-screen-container .hidden-links a {
    display: none;
    position: relative;
    right: 60px;
    top: 40px;
    padding: 10px;
    background-color: rgb(192, 191, 191);
    color: black;
    font-size: 20px;
    font-weight: 600;
    z-index: 4;
    border-radius: 0px;
}


.hidden-links a:hover {
    text-decoration: underline;
}

.line-black {
    border-top: 1px solid black;
}


main {
    position: relative;
    margin-top: 30px;
    width: 100%;
    min-height: 100px;
    background-color: white;
    border-radius: 2px;
    box-shadow: 3px 3px 2px 2px lightgray;
}

footer {
    
}




@media screen and (max-width: 900px)
{
    header .links a {
        font-size: 20px;
        font-weight: 300;
    }
    @media screen and (max-width: 800px) 
    {
        body {
            margin-left: 0px;
            margin-right: 0px;
        }

        header .links a {
            font-size: 20px;
            font-weight: 300;
        }

        @media screen and (max-width: 600px)
        {
            .links #small-screen-container {
                display: flex;
                min-width: 40px;
                min-height: 40px;
            }
            .links .link {
                display: none;
            }
        }
    }
}

@media screen and (max-height: 500px)
{
    body {
        margin-left: 0px;
        margin-right: 0px;
    }
    .logo {
        display: none;
    }

    header {
        position: absolute;
        top: 0px;
        width: 100%;
        z-index: 3;
    }

    main {
        margin-top: 90px;
    }
    header .links #hidden-logo {
        display: block;
        background-color: whitesmoke;
    }
}
